
/*homepage(index)*/
html,
body{
 background-color: #0A0806;
 width: 100%;
 height: 100%;
 margin: 0;
}

.block1{
width: 100%;
height:100%;
background-image: url(images/homepage.jpeg);
background-size: 100%;
}
.block2{
width:100%;
height:30%;
display: flex;
align-items: center;
justify-content: center;

} 
.block3{
    width:100%;
    height:500px;
}

.block2{
    background-color: transparent;
    display: flex;
    align-items: center;
    
}
.searchBox{
    background-color: white;
    border-radius: 10px;
    font-size: medium; color: black;
    height: 30px; width: 500px;
    padding: 5px;

}

.block3{
    background-color: transparent;
}
#map {
    border-style: solid; border-width: 2px;
    height: 100%; /* or any other height */
    width: 100%; /* or a specific width, like 600px */
}

#navigation{
    font-family: "Bungee";
    font-size: large;
    background-color: transparent;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
#dropDown{
    margin-left: 10px;
}
#logo{
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: transparent;
}

.navButton{
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    font-size: large;
    padding: 10px;
}
/* side bar menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

