/*
I will try to start learning some css,
so i can help you a little  
-Kevin
*/

/*homepage(index)*/
html,
body{
 background-color: #0A0806;
 width: 100%;
 height: 100%;
 margin: 0;
 font-family: "Ubuntu";
}

.block1{
width: 100%;
height:100%;
background-image: url(images/homepage.jpeg);
background-size: 100%;
}
.block2{
margin-top: 150px;
width:100%;
height:150px;
display: flex;
align-items: center;
justify-content: center;
background-color: transparent;
display: flex;
flex-direction: column;
align-items: center;
color: azure;
} 
.text2{
  padding: 70px;
}
#navigation{
    font-family: "Bungee";
    font-size: large;
    background-color: transparent;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
#dropDown{
    margin-left: 10px;
}
#logo{
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: transparent;
}

.navButton{
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    font-size: large;
    padding: 10px;
}
/* side bar menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
h1{
  font-family: 'Bungee';
}