/*
I will try to start learning some css,
so i can help you a little  
-Kevin
*/

/*homepage(index)*/
html,
body{
 background-color: #8FBE6A;
 width: 100%;
 height: 100%;
 margin: 0;
}
.block1,
.block2,
.block3{
  width: 100%;
  height: 100%;
}
.block1{
    background-image: url(images/homepage.jpeg);
    background-size: 100%;
}
.block2{
    background-color: transparent;
}
.block3{
    background-color: aqua;
}
#navigation{
    font-family: "Bungee";
    font-size: large;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
#logo{
    border-style: solid;
}

#buttons{
display: flex;
justify-content: center;
padding: 10.5px;
gap: 10px;
}
.navButton{
    border-radius: 10px;
}